{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'production'%}">production</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit production
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a
        href="{% url 'production-delete' production.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'production-edit' production.id %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">power</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="power"
            value="{{values.power}}"
          />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>
        <div class="form-group">
          <label for="">hybrid</label>
          <select class="form-control" name="hybrid">
            <option selected name="hybrid" value="{{values.hybrid}}"
              >{{values.hybrid}}</option
            >
            {% for hybrid in hybrids%}
            <option name="hybrid" value="{{hybrid.name}}"
              >{{hybrid.name}}</option
            >

            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Date of production</label>
          <input
            type="date"
            value="{{values.date | date:'Y-m-d' }}"
            class="form-control form-control-sm"
            name="production_date"
          />
        </div>

        <input
          type="submit"
          value="Save"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
